* {
  margin: 0;
  padding: 0;
}

#calculator-container {
  margin: 20px;
  background-color: aqua;
  width: 350px;
  height: 85vh;
  border: 2px solid black;
  border-radius: 8px;
}

#display{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

#user-input, #answer {
  padding: 16px;
  border: none;
  text-align: right;
  font-size: 20px;
}

.reset-row {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px;
  gap: 10px;
}

#delete, #clear {
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border-radius: 6px;
}

#delete {
  background-color: pink;
}

.second-row,
.third-row,
.fourth-row,
.fifth-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.keys {
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
}

.operations {
  background-color: #B27C66;
}